<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Form</title>
    <link rel="icon" href="/imgs/contacts.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <div class="container">
      <h1>Contact Form</h1>
      <form method="post" action="/submit-info">
        <div class="flex-row">
          <div class="form-items">
            <label class="label-field" for="fName">First Name*</label>
            <input type="text" class="input-field" name="fName" id="fName" />
          </div>
          <div class="form-items">
            <label class="label-field" for="lName">Last Name*</label>
            <input type="text" class="input-field" name="lName" id="lName" />
          </div>
          <div class="form-items">
            <label class="label-field" for="job-title">Job Title*</label>
            <input
              type="text"
              class="input-field"
              name="job-title"
              id="job-title"
            />
          </div>
        </div>
        <div class="flex-row">
          <div class="form-items">
            <label class="label-field" for="company">Company*</label>
            <input
              type="text"
              class="input-field"
              name="company"
              id="company"
            />
          </div>
          <div class="form-items">
            <label class="label-field" for="linked-in">LinkedIn URL*</label>
            <input
              type="text"
              class="input-field"
              name="linked-in"
              id="linked-in"
            />
          </div>
          <div class="form-items">
            <label class="label-field" for="email">Email*</label>
            <input type="email" class="input-field" name="email" id="email" />
          </div>
        </div>
        <div class="flex-row">
          <div class="form-items">
            <label class="label-field" for="past-meeting"
              >Where did we meet?</label
            >
            <select class="input-field" id="past-meeting" name="past-meeting">
              <option value="other">Other</option>
              <option value="hackathon">Hackathon</option>
              <option value="job-fair">Job Fair</option>
              <option value="tech-conference">Tech Conference</option>
              <option value="college-club">College Club</option>
            </select>
          </div>
          <div class="form-items">
            <label class="label-field" for="other-meet"
              >Other(Please Specify)</label
            >
            <input
              type="text"
              name="other-meet"
              class="input-field"
              id="other-meet"
            />
          </div>
        </div>
        <div class="flex-row">
          <div class="form-items">
            <label class="label-field" for="message">Message</label>
            <textarea
              name="message"
              id="msg-text"
              rows="7"
              placeholder="Enter message here"
            ></textarea>
          </div>
        </div>
        <div>
          <input
            type="checkbox"
            id="input-checkbox"
            name="mailing-list"
            value="yes"
          />
          <label class="label-field" for="input-checkbox"
            >Please add me to your mailing list</label
          >
        </div>
        <div class="email-format">
          <p>
            Choose an email format:<span
              ><label class="label-field"
                ><input
                  type="radio"
                  name="email-format"
                  value="html"
                />HTML</label
              ><label class="label-field"
                ><input
                  type="radio"
                  name="email-format"
                  value="text"
                />Text</label
              ></span
            >
          </p>
        </div>
        <div class="btn-container">
          <button class="btn-submit" type="submit">Submit</button>
          <a href="/admin/contacts">
            <button class="btn-submit" type="button">Admin Page</button>
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
